.CardInfo {
    animation: fadeInAnimation ease 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

.CardInfo img {
    border-radius: 50%;
    width: 30%;
}

.CardInfo #left {
    width: 30%;
    box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.2);
}

.CardInfo #right {
    width: 60%;
    text-align: left;
    box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.2);
}

.CardInfo div {
    background: #302f33;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.CardInfo #left button {
    background: rgb(94, 94, 209);;
    color: white;
    border: none;
    padding: 15px;
    border-radius: 5px;
    width: 75%;
    cursor: pointer;
}