.Card {
    background: #302f33;
    width: 30%;
    padding: 10px;
    animation: fadeInAnimation ease 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.2);
}

.Card img {
    border-radius: 50%;
    width: 30%;
}

.Card button {
    background: rgb(94, 94, 209);;
    color: white;
    border: none;
    padding: 15px;
    border-radius: 5px;
    width: 75%;
    cursor: pointer;
}